[submodule "core_utilities"]
	path = core_utilities
	url = git@github.com:carmine560/core-utilities.git
[submodule "web_utilities"]
	path = web_utilities
	url = git@github.com:carmine560/web-utilities.git
